# Fichiers système
.DS_Store
Thumbs.db
desktop.ini

# Éditeur
.vscode/*
!.vscode/settings.json

# Fichiers temporaires et journaux
*.log
*.tmp

# Dépendances ou dossiers de génération éventuels
node_modules/
dist/
